* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

html {
    height: 100%;
}

.head {
    height: 100vh;

    background-color: #3f3f3fff;
}

.photo_me {
    margin-top: 50px;

    text-align: center;
}
.name {
    font-family: Arial;
    font-size: 40;

    text-align: center;

    color: #fffffcff;
}

.artc_games {
    height: 100%;
    height: 100vh;
    padding: .2;

    text-align: center;

    background: #4c4c4cff;
}

.text_me {
    margin-top: 70px;

    font-family: Tahoma;
    font-size: 40;

    color: #fffffcff;
}

.game_text {
    margin-top: 100px;

    font-family: Tahoma;
    font-size: 40;

    color: #fffffcff;
}

.games_row {
    display: flex;
    width: 100%;
    height: 250px;
    margin-top: 250px;

    align-items: center;
    justify-content: center;
}

.game {
    width: 16.6%;
    height: 100%;
    margin: auto;
}

.gameico {
    width: 220px;
    height: 220px;
    margin: auto;

    transition: .3s;

    border-radius: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;

    filter: grayscale(1);
}

.gameico:hover {
    transition: .3s;

    filter: grayscale(0);
}

.video_main {
    height: 100%;
    height: 100vh;
    padding: .2;

    text-align: center;

    background: #3f3f3fff;
}

.video_text {
    margin-top: 80px;

    font-family: Tahoma;
    font-size: 40;

    color: #fffffcff;
}

.video {
    max-width: 100%;
    margin-top: 50px;
}

iframe {
    width: 1000;
    height: 600;
}

.why {
    height: 100%;
    height: 100vh;
    padding: .2;

    text-align: center;

    background: #4c4c4cff;

    flex-grow: 1;
}

.title {
    margin-top: 80px;

    font-family: Tahoma;
    font-size: 40;

    color: #fffffcff;
}

.why_text {
    margin-top: 100px;

    font-family: Tahoma;
    font-size: 40;

    color: #fffffcff;
}

.foot {
    width: 100%;
    height: 200px;

    background: #3f3f3fff;
}


.social_row {
    display: flex;
    width: 100%;
    height: 190px;

    align-items: center;
    justify-content: center;
}


.social {
    width: 16.6%;
    height: 100%;
    margin: auto;
}

.social_ico {
    float: left;
    width: 100px;
    height: 100px;
    margin: 50px;

    border-radius: 100%;
    background-color: #3f3f3fff;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}

footer {
    bottom: 0;
}

@media only screen and (min-width: 300px) and (max-width: 350px) {
    .name {
        font-size: 25;
    }

    .photo_me {
        width: 300px;
        height: 400px;
        margin-top: 1px;
    }

    .text_me {
        margin-top: 37px;

        font-size: 18;
    }

    .game_text {
        margin-top: 50px;

        font-size: 18;
    }


    .games_row {
        display: table-header-group;
        width: 30%;
        height: 250px;
        margin-top: 250px;

        align-items: center;
        justify-content: center;
    }

    .game {
        width: 30%;
        width: 30%;
        height: 100%;
        margin: auto;
    }

    .gameico {
        width: 60px;
        height: 60px;
        margin-top: 10px;
        margin-left: 80px;

        border-radius: 100%;
        background-color: #fff;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
                background-size: cover;
    }

    .video_text {
        margin-top: 50px;

        font-size: 18;
    }

    .title {
        margin-top: 600px;

        font-size: 18;
    }

    .why_text {
        margin-top: 600px;

        font-size: 18;
    }


    iframe {
        width: 300px;
        height: 250px;
    }

    .why {
        height: 100%;
        height: 100vh;
        padding: .2;

        text-align: center;

        background: #4c4c4cff;

        flex-grow: 1;
    }

    .title {
        margin-top: 10px;

        font-family: Tahoma;
        font-size: 18;

        color: #fffffcff;
    }

    .why_text {
        margin-top: 20px;

        font-family: Tahoma;
        font-size: 18;

        color: #fffffcff;
    }

    .foot {
        width: 100%;
        height: 150px;

        background: #3f3f3fff;
    }


    .social_row {
        display: flex;
        width: 90%;
        height: 50px;

        align-items: center;
        justify-content: center;
    }


    .social {
        width: 40%;
        height: 100%;
    }

    .social_ico {
        float: center;
        width: 50px;
        height: 50px;

        border-radius: 100%;
        background-color: #3f3f3fff;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
                background-size: cover;
    }
}

@media only screen and (min-width: 351px) and (max-width:370px) {
    .photo_me {
        width: 300px;
        height: 400px;
        margin-top: 1px;
        margin-left: 17px;
    }

    .text_me {
        margin-top: 45px;

        font-size: 18;
    }

    .game_text {
        margin-top: 50px;

        font-size: 20;
    }


    .games_row {
        display: table-header-group;
        width: 30%;
        height: 250px;
        margin-top: 250px;

        align-items: center;
        justify-content: center;
    }

    .game {
        width: 30%;
        width: 30%;
        height: 100%;
        margin: auto;
    }

    .gameico {
        width: 80px;
        height: 80px;
        margin-top: 10px;
        margin-left: 80px;

        border-radius: 100%;
        background-color: #fff;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
                background-size: cover;
    }

    .video_text {
        margin-top: 50px;

        font-size: 18;
    }

    .title {
        margin-top: 600px;

        font-size: 18;
    }

    .why_text {
        margin-top: 600px;

        font-size: 18;
    }


    iframe {
        width: 300px;
        height: 250px;
    }

    .why {
        height: 100%;
        height: 100vh;
        padding: .2;

        text-align: center;

        background: #4c4c4cff;

        flex-grow: 1;
    }

    .title {
        margin-top: 10px;

        font-family: Tahoma;
        font-size: 18;

        color: #fffffcff;
    }

    .why_text {
        margin-top: 20px;

        font-family: Tahoma;
        font-size: 18;

        color: #fffffcff;
    }

    .foot {
        width: 100%;
        height: 160px;

        background: #3f3f3fff;
    }


    .social_row {
        display: flex;
        width: 93%;
        height: 100px;

        align-items: center;
        justify-content: center;
    }


    .social {
        width: 40%;
        height: 100%;
    }

    .social_ico {
        float: center;
        width: 60px;
        height: 60px;

        border-radius: 100%;
        background-color: #3f3f3fff;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
                background-size: cover;
    }
}

@media only screen and (min-width: 370px) and (max-width: 400px) {
    .photo_me {
        width: 300px;
        height: 400px;
        margin-top: 1px;
        margin-left: 40px;
    }

    .gameico {
        margin-left: 90px;
    }
}
@media only screen and (min-width: 401px) and (max-width: 470px) {
    .photo_me {
        width: 300px;
        height: 400px;
        margin-top: 1px;
        margin-left: 47px;
    }

    .gameico {
        margin-left: 100px;
    }

    iframe {
        width: 370px;
        height: 300px;
    }

    .social {
        width: 37%;
        height: 100%;
    }
}

@media only screen and (min-width: 471px) and (max-width: 520px) {
    .photo_me {
        margin-top: 1px;
        margin-left: 65px;
    }

    .gameico {
        margin-left: 115px;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1600px) {
    .text_me {
        margin-top: 70px;

        font-size: 40;
    }

    .photo_me {
        margin-top: 1px;
        margin-left: 600px;
    }
}
